majority element

In [6]:
def majorityelement(nums):
    nums.sort()
    return nums[len(nums)//2]

In [7]:
majorityelement([1,2,1,2,3,4,5,6])

3

intersection of two array

In [18]:
def intersection(num1,num2):
    x=set(num1)
    y=set(num2)
    return x.intersection(y)

In [19]:
intersection([1,1,2,3,4],[1,2,3,6,7,8])

{1, 2, 3}

rat count house

In [66]:
def rat(r,u,arr,n):
    #array is null
    if n==0:
        return -1
        #stealing
    result=0
    total=r*u
    for i in range(n):
        result=result+arr[i]
        if result>=total:
            break
        #after stealing still not sufficinet
    if sum(arr)<total:
        return 0
    # sufficinet return house number
    return i+1

In [67]:
rat(5,7,[2,8,3,7,4,7,9,8,56],8)

7

factors of a number

In [75]:
def fact(num):
    list=[]
    for i in range(1,num+1):
        if num%i==0:
            list.append(i)
    return list

In [76]:
fact(12)

[1, 2, 3, 4, 6, 12]

In [79]:
def fact(num):
    if num<=0:
        return 0
    mylist=[i for i in range(1,num+1) if num%i==0]
    return mylist

In [81]:
fact(45)

[1, 3, 5, 9, 15, 45]

reverse string using stack/ array

In [91]:
class mystack:
    def __init__(self):
        self.st=[]
    def reversestring(self,mystr):
        result=' '
        for i in mystr:
            self.st.append(i)
        for i in range(len(self.st)):
            popped=self.st.pop()
            result=result+popped
        return result

In [111]:
s=mystack()
s.reversestring(" kiss")

' ssik '

number of stars of missing number

In [125]:
def missno(arr):
    for i in range(1,arr[-1]+1):
        if i not in arr:
            return i*'&'

In [128]:
arr=[1,2,4,3,5,6,7,9]
missno(arr)

'&&&&&&&&'

In [140]:
ord('A')-64

1

excel sheet colum number

In [141]:
    def colnum(name):
        result = 0
        for i in name:
            result = result*26 + ord(i)-64
        return result

In [142]:
colnum("BBAF")

36536

demonstrating atm function

In [1]:
def atm():
    print("Welcome to Canara Bank")
    pins = {"sharath": "2004", "sindu": "3678", "vinay": "9535"}
    bal = {"sharath": 900000, "sindu": 70000, "vinay": 65000}
    name = input("Enter your name: ")
    pin = input("Enter your pin: ")
    if  pins[name] != pin:
        return "Invalid pin "
    while True:
        print("\nATM Menu:")
        print("1. Withdraw")
        print("2. Deposit")
        print("3. Check Balance")
        print("4. FD Offers")
        print("5. Quit")
        choice = input("Enter your choice (1-5): ")

        if choice == "1":  
            amount = int(input("Enter amount to withdraw: "))
            if amount > bal[name]:
                print("Insufficient balance!")
            else:
                bal[name] = bal[name]-amount
                print("Withdrawal successful")

        elif choice == "2": 
            amount = int(input("Enter amount to deposit: "))
            bal[name] = bal[name]+amount
            print("Deposit successful")

        elif choice == "3": 
            print("Your current balance is",bal[name])

        elif choice == "4":
            print("FD Offers: 5% interest for 1 year.",bal[name])

        elif choice == "5":  
            print("Thank you for visiting Canara Bank ATM!")
            break

        else:
            print("Invalid choice, please try again.")

In [2]:
atm()

Welcome to Canara Bank

Enter your name:  sharath
Enter your pin:  2004

ATM Menu:
1. Withdraw
2. Deposit
3. Check Balance
4. FD Offers
5. Quit

Enter your choice (1-5):  1
Enter amount to withdraw:  250000

Withdrawal successful

ATM Menu:
1. Withdraw
2. Deposit
3. Check Balance
4. FD Offers
5. Quit

Enter your choice (1-5):  2
Enter amount to deposit:  100000

Deposit successful

ATM Menu:
1. Withdraw
2. Deposit
3. Check Balance
4. FD Offers
5. Quit

Enter your choice (1-5):  3

Your current balance is 750000

ATM Menu:
1. Withdraw
2. Deposit
3. Check Balance
4. FD Offers
5. Quit

Enter your choice (1-5):  4

FD Offers: 5% interest for 1 year. 750000

ATM Menu:
1. Withdraw
2. Deposit
3. Check Balance
4. FD Offers
5. Quit

Enter your choice (1-5):  5

Thank you for visiting Canara Bank ATM!

In [29]:
class LinkedList:
    class Node:
        def __init__(self, data=None):
            self.data = data
            self.next = None
    def __init__(self):
        self.head = None
    
    def insert_at_beginning(self, data):
        new_node = Node(data)
        new_node.next = self.head
        self.head = new_node
    def tra(self):
        temp = self.head
        while temp:
            print(temp.data, end=' --> ')
            temp = temp.next
        print(None)
    def nodefromreve(self,n):
        count=0
        count=self.head
        while current:
            count=count+1
            current=current.next
        if count==n:
            return self.head.next
        ptr1=self.head
        for _ in range(count-n-1):
            ptr1=ptr1.next
            ptr1.next=ptr1.next.next

In [12]:
class linkedlist:
    class Node:
        def __init__(self,data):
            self.data=data
            self.next=None
    def __init__(self):
        self.head=None
    def  ins(self,data):
        newnode=linkedlist.Node(data)
        newnode.next=self.head
        self.head=newnode
    def tra(self):
        current=self.head
        while current:
            print(current.data,end='-->')
            current=current.next
        print(None) 
    def dev(self,n):
        count=0
        current=self.head
        while current:
            count=count+1
            current=current.next
        if count==n:
            return self.head.next
        ptr=self.head
        for _ in range(count-n-1):
            ptr=ptr.next
        ptr.next=ptr.next.next

In [13]:
tra=linkedlist()
tra.ins(89)
tra.ins(98)
tra.ins(71)
tra.ins(4)
tra.ins(6)
tra.ins(7)